.ContentHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--space-xs);

  h2 {
    font: var(--typography-desktop-headline-4);
    margin: 0;
    line-height: 1;
  }
}

@include desktop {
  .ContentHeader {
    padding: var(--space-xl) var(--space-m);
  }
}
