.AllergiesIntolerancesPickerItem {
  margin: 0;
  padding: var(--space-s) 0 var(--space-s) var(--space-xs);
  border-bottom: 1px solid var(--color-neutral-lightest);
  list-style-type: none;
  font: var(--typography-desktop-body-level-1);

  &__checkbox {
    input[type='checkbox'].sc-d4l-checkbox + label.sc-d4l-checkbox {
      color: var(--color-primary);
    }
  }
}
