.TwoColumnCardLayout {
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100%;

  &--column-hidden {
    &#{&} {
      display: none;
    }
  }

  & > d4l-card {
    width: 100%;
  }

  &__card {
    &#{&} {
      padding: 0;
      width: 100%;
      overflow: hidden;
      display: flex;
      border-radius: 0;
      background-color: var(--color-white);
      height: 100%;

      .card__content {
        width: 100%;
      }
    }
  }

  &__card-content {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__left-column {
    display: flex;
    width: 100%;
    flex: 0 0 100%;
  }

  &__right-column {
    flex-direction: column;
    flex: 0 0 100%;
    width: 100%;
    min-height: calc(100vh - #{$header-height} - 56px);
    max-height: calc(100vh - #{$header-height} - 56px);
  }
}

@include tablet-up {
  .TwoColumnCardLayout {
    width: 100%;
  }
}

@include desktop {
  .TwoColumnCardLayout {
    &__left-column {
      flex: 0 0 30%;
      width: 30%;
    }

    &__right-column {
      display: flex;
      flex: 0 0 70%;
      width: 70%;
      min-height: initial;
      max-height: initial;
    }

    &__card {
      &#{&} {
        border-radius: var(--border-radius-s);
      }
    }
  }
}
