{
  "extends": [ "stylelint-config-standard-scss", "stylelint-config-prettier-scss"],
  "rules": {
    "no-descending-specificity": null,
    "selector-type-no-unknown": [true, { "ignore": ["custom-elements"] }],
    "selector-class-pattern": null,
    "scss/dollar-variable-pattern": null,
    "rule-empty-line-before": null
  }
}
