.Funding {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: var(--space-m) var(--space-m) 0 var(--space-m);

  img {
    height: 45px;
    width: 68px;
  }

  span {
    color: black;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 1rem;
    text-align: center;
  }
}
